.student-id,
.error-info {
    padding: 10px 0;
}

.inputs-table__input, 
.results-table__label {
  box-sizing: border-box;
  text-align: center; 
  font-size: 24px;
  width:  45px;
  height: 45px;
}

.results-table__label {
  font-size: 18px;
}